numpy==2.0.1
pandas==2.2.3
streamlit==1.41.1
streamlit-lottie==0.0.5
joblib==1.4.2
tensorflow==2.18.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-text==2.18.0
python==3.10.15
pip==24.2